@charset 'UTF-8';

/*Cursors*/

.cp {
  cursor: pointer;}

/*Inputs*/

input[type=checkbox] {
  opacity: 0;
  position: absolute;
  left:-9999999px;
}

input[type=checkbox]:checked + label {
  cursor: pointer;
  border: 1px black solid;
  color: #000000;
  background-color: #FFFFFF;
}


/*Links*/

a:link {
  text-decoration: none;
  -webkit-transition: color 1.2s ease-in-out;
  color: #000000;} 

a:visited {
  color: inherit; }

a:hover {
  color: #B0B0B0;
  -webkit-transition: color .4s ease-in-out; }

/*Code*/

code:hover {
  color: #909090;
  -webkit-transition: color .4s ease-in-out; }

.pos-t {
  position: relative;
  bottom: -3px;
  }

.pos-mid {
  position: relative;
  bottom: 5px;
}
/*Clicked*/


/*Shapes*/



/*Border*/

.brdr-n {
  border: none;}

.txt-brdr { color: black;
            -webkit-text-fill-color: white; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
}

/* { 
  border: 1px solid gold;
}*/

.brdr-rad {
  border-radius: 50%;}

.brdr-key {
  border-radius: 12.5%;}

.brdr-c {
  border-collapse: collapse; }

.brdr-sld {
  border-style: solid;}

.brdr-sld-thn {
  border-style: solid;
  border-width: thin;
}

.brdr-dot {
  border-style: dotted;
  border-width: thin;
}

.brdr-tn {
  border-top: none;}

.brdr-bn {
  border-bottom: none;}

.brdr-ln {
  border-left: none;} 

.brdr-rn {
  border-right: none;}

.brdr-32CD32 {
  border-color: #32CD32;}

.brdr-888888 {
  border-color: #888888;}

.brdr-F0F8FF {
  border-color: #F0F8FF;}

.brdr-F8F8F8 {
  border-color: #F8F8F8;}

.brdr-000000 {
  border-color: #000000;}

.brdr-222222 {
  border-color: #222222;}

.brdr-FFFFFF {
  border-color: #FFFFFF;}

.brdr-AA0114 {
  border-color: #AA0114;}

/*Background*/

.bg-292F33 {
  background: #292F33;}

.bgc-292F33 {
  background-color: #292F33;}

.bg-FFFFFF {
  background: #FFFFFF;}

.bgc-trans { 
  background-color:transparent;}

.bgc-000000 { 
  background-color:#000000;}

.bgc-222222 { 
  background-color:#222222;}

.bgc-333333 { 
  background-color:#333333;}

.bgc-080808 { 
  background-color:#080808;}

.bgc-181818 { 
  background-color:#181818;}

.bgc-282828 { 
  background-color:#282828;}

.bgc-383838 { 
  background-color:#383838;}

.bgc-484848 { 
  background-color:#484848;}

.bgc-585858 { 
  background-color:#585858;}

.bgc-686868 { 
  background-color:#686868;}

.bgc-787878 { 
  background-color:#787878;}

.bgc-888888 { 
  background-color:#888888;}

.bgc-989898 { 
  background-color:#989898;}

.bgc-A8A8A8 { 
  background-color:#A8A8A8;}

.bgc-A0A0A0A0 {
  background-color:#A0A0A0;}

.bgc-B0B0B0 {
  background-color:#B0B0B0;}

.bgc-C0C0C0 {
  background-color:#C0C0C0;}

.bgc-D0D0D0 {
  background-color:#D0D0D0;}

.bgc-E0E0E0 {
  background-color:#E0E0E0;}

.bgc-F0F0F0 {
  background-color:#F0F0F0;}

.bgc-A8A8A8 {
  background-color:#A8A8A8;}

.bgc-B8B8B8 {
  background-color:#B8B8B8;}

.bgc-C8C8C8 {
  background-color:#C8C8C8;}

.bgc-D8D8D8 {
  background-color:#D8D8D8;}

.bgc-E8E8E8 {
  background-color:#E8E8E8;}

.bgc-F8F8F8 {
  background-color:#F8F8F8;}

.bgc-e1e8ed {
  background-color:#e1e8ed;}

.bgc-66757f {
  background-color:#66757f;}

.bgc-ccd6dd {
  background-color:#ccd6dd;}

/*List Style Types*/

.disc {
	list-style-type: disc; }

.circle {
	list-style-type: circle;}

.list-n{
	list-style-type: none;}
.list-h {
	list-style: none;}


/*Spacing*/

.wsp-xxsmall {
  word-spacing: .125rem;}

.wsp-xsmall {
  word-spacing: .5rem;}

.wsp-small {
  word-spacing: 1rem;}

.lsp-xsmall {
  letter-spacing: .30rem;}

.lsp-small {
  letter-spacing: .5rem;}

.lsp-medium {
  letter-spacing: 1rem;}

.lsp-large {
  letter-spacing: 2rem;}

.brdr-sp0 {
  border-spacing: 0;}

.brdr-sp {
  border-spacing: .25rem;}

.brdr-twz {
  border-top-width: 0px;}

.brdr-bwz {
  border-bottom-width: 0px;}

.brdr-rwz {
  border-right-width: 0px;}

.brdr-lwz {
  border-left-width: 0px;}

.brdr-rc-888888 {
  border-right-color: #888888;}

.brdr-lc-888888 {
  border-left-color: #888888;}

.brdr-bc-888888 {
  border-bottom-color: #888888;}

.brdr-tc-000000 {
  border-top-color: #000000;}

.brdr-ll {
  border-left: 4rem;}

.brdr-tssld {
  border-top-style: solid;}

.brdr-rssld {
  border-right-style: solid;}

.brdr-lssld {
  border-left-style: solid;}

.brdr-rsdot {
  border-right-style: dotted;}

.brdr-lsn {
  border-left-style: none;}

/*Padding*/

.p0 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.phln {
  padding-left: 0;}

.phn {
  padding-left: 0;
  padding-right: 0;
}

.phln {
  padding-left: 0;
}
.pts {
	padding-top: .5rem;}

.pt {
	padding-top: 1rem;}

.ptsm {
  padding-top: .75rem;}

.ptm {
	padding-top: 1.5rem;}

.ptl {
	padding-top: 2rem;}

.pbs {
  padding-bottom: .5rem;}

.pb {
  padding-bottom: 1rem;}

.pbm {
  padding-bottom: 1.5rem;}

.pblm {
  padding-bottom: 3rem;}

.pbl {
  padding-bottom: 2rem;}

.pbxl {
  padding-bottom: 4rem;}

.phls {
	padding-left: .5rem;}

.phlxs {
	padding-left: .35rem;}

.phl {
	padding-left: 1rem;}

.phlsm {
  padding-left: 1.5rem;}

.phlm {
	padding-left: 2rem;}

.phll {
	padding-left: 3rem;}

.phlxl {
  padding-left: 6rem;}
 
.phrxs {
	padding-right: .25rem;}
 
.phrs {
	padding-right: .5rem;}
 
.phr {
	padding-right: 1rem;}

.phrxl {
  padding-right: 15rem;}

.phrl {
	padding-right: 3rem;}
 
.phrm {
	padding-right: 2rem;}
 
.phrsm {
	padding-right: 1.5rem;}
 
.ptbm {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
  
.ptbs {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
  
.phlxl {
  padding-left: 4rem;}

.phrxl {
  padding-right: 4rem;}

.phml {
  padding-left: 2rem;}

.phmr {
  padding-right: 1.5rem;}

.phm {
	padding-left: 2rem;
	padding-right: 2rem;}
.phs {
	padding-left: .5rem;
	padding-right: .5rem;}

.phsl {
	padding-left: .5rem;}
.phsr {
	padding-right: .5rem;}

.phxsl {
	padding-left: .25rem;}
.phxsr {
	padding-right: .25rem;}


/*Fonts*/

.f0 {
    font-size: 0;}

.fxl {
  font-size: 8rem;}

.fl { 
	font-size: 6rem;}

.fm { 
	font-size: 3rem;}

.fsm {
  font-size: 2rem;}

.f { 
	font-size: 1.5rem;}

.fs { 
	font-size: 1.49rem;}

.fxs {
	font-size: .5rem;}

.ff {   
  font-family: "HelveticaNeue-Light", "HelveticaNeue", "Helvetica", "Arial", sans-serif;	
}

.ff-keys {
  font-family: "Varela Round", "HelveticaNeue-Light", "Arial", sans-serif;
}

.ff-vim {
  font-family: "Inconsolata", "Open Sans", "Lucida Console", Monaco, monospace;}


/*<link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>*/     
.ff-MavenPro {
  font-family: 'Maven Pro', sans-serfif;}

/*<link href = 'http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type = 'text/css'>*/
.ff-Robota {
  font-family: "Robota", sans-serif;}

/*<link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates' rel='stylesheet' type='text/css'>*/
.ff-Montserrat {
       font-family: 'Montserrat Alternates', sans-serif;}

/*<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>*/
.ff-PoiretOne {
  font-family: 'Poiret One', cursive;}

/*<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>*/
.ff-Raleway {
  font-family: 'Raleway', sans-serfif;}

/*<link href='http://fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>*/
.ff-RalewayDots {
  font-family: 'Raleway Dots', cursive;}

.ff-code{
       font-family: 'Courier New';}

.fc-FF0000 { 
	color: #FF0000;}

.fc-D3D3D3 { 
	color: #D3D3D3;}

.fc-F0F8FF { 
	color: #F0F8FF;}

.fc-FFFFF0 { 
	color: #FFFFF0;}

.fc { 
	color: 	#33334C;}

.fc-E0E0E0 {
  color: #E0E0E0;}

.fc-F0F0F0 {
  color: #F0F0F0;}

.fc-F3F3F3 {
  color: #F3F3F3;}

.fc-F8F8F8 {
  color: #F8F8F8;}

.fc-FFFFFF {
  color: #FFFFFF;}

.fc-FF6600 {
  color: #FF6600;}

.fc-000000 {
  color: #000000;}

.fc-888888 { 
	color: 	#888888;}

.fwn {
  font-weight:normal;}

.fwt {
  font-weight:100;}

.fw0 {
  font-weight:0;}

.fsn {
  font-style: normal;}

.fsi {
  font-style: italic;}

.fso {
  font-style: oblique;}

/*Text Altering*/

.txt-u {
  text-transform: uppercase;}

.b {
  font-weight: bold;}

/*Sizing*/

.minw1 {
  min-width: 1rem;}

.minw12P3 {
  min-width: 12.3rem;}

.minh2 {
  min-height: 2rem;}

.maxw {
  max-width: 20.85rem;}

.maxw77 {
  max-width: 77rem;}

.minhi {
  min-height: inherit;}

/*Alignment*/

/*CODE IN QUESTION*/
.center {
  vertical-align: middle;
  text-align: center;}

.m0 {
  margin: 0;}

.m0a {
  margin: 0 auto;}

.mb0 {
  margin-bottom: 0;}

.mt0 {
  margin-top: 0;}

.ml0 {
  margin-left: 0;}

.ml0 {
  margin-right: 0;}

.mts {
  margin-top: .5rem;}

.mtm {
  margin-top: 1rem;}

.mtl {
  margin-top: 2rem;}

.mtxl {
  margin-top: 4rem;}

.m1 {
  margin: 1rem;}

.mt3 {
 margin-top: 3rem;}

.mbxs {
  margin-bottom: .25rem;}

.mbs {
  margin-bottom: .5rem;}

.mb {
  margin-bottom: 1rem;}

.mbm {
 margin-bottom: 2rem;}

.mbl {
 margin-bottom: 4rem;}

.mr0 {
  margin-right: 0;}

.mr10 {
  margin-right: 10rem;}

.mr20 {
  margin-right: 20rem;}

.mr50 {
  margin-right: 50rem;}

.ml20 {
  margin-left: 20rem;}

.mrs {
  margin-right: .5rem;}

.mr {
  margin-right: 1rem;}

.mrx {
  margin-right: 1.5rem;}

.mrm {
  margin-right: 2rem;}

.mrl {
  margin-right: 3rem;}

.mrxl {
  margin-right: 4rem;}

.mlxs {
  margin-left: .5rem;}

.mls {
  margin-left: .5rem;}

.ml {
  margin-left: 1rem;}

.mlx {
  margin-left: 1.5rem;}

.mlm {
  margin-left: 2rem;}

.mll {
  margin-left: 3rem;}

.mlxl {
  margin-left: 6.75rem;}

.va-txtm {
  vertical-align: middle;}

.va-txt10 {
  vertical-align: 10%;}

.va-txtt {
	vertical-align: text-top;}

.va-txtb {
	vertical-align: text-bottom;}

.vat {
  vertical-align: top;}

.vab {
  vertical-align: bottom;}

.vam {
  vertical-align: middle;}

.tar {
  text-align: right;}

.tal {
  text-align: left;}

.tac {
  text-align: center;}

.tai {
  text-align: inherit;}

.db {
	display: block;}

.dt-cell {
  display: table-cell;}

.dtc {
  display: table-column;}

.dtr {
  display: table-row;}

.dt {
  display: table;}

.di {
  display: inline;}

.din {
  display: initial;}

.dn {
  display: none;}

.pr {
  position: relative; }

.dib {
  display: inline-block;}

dd .hidden {
  display: none}

dd .shown {
  display: inline;}

dd:active .hidden {
  display: inline;
}

dd:active .shown {
  display: none;
}

.lh-l {
  line-height: 250%;
}

.lh-letter {
  line-height: 30%;
}

.vv {
  visibility: visible; }

.vh {
  visibility: hidden; }

.oh {
  overflow: hidden;
}

.FL-r { 
	float: right;}
.FL-l { 
	float: left;}
.FL-i {
	float: inherit;}

.w-logo { width: 24px;}

.wi { width: inherit;}

.w05 { 
        width: 5%;}
.w20 { 
        width: 20%;}
.w30 { 
        width: 30%;}
.w40 { 
        width: 40%;}
.w45 {
        width: 45%;}
.w50 {
        width: 50%;}

.w80 { 
        width: 80%;}

      
.w100 { 
        width: 100%;}

/*Figure*/

.w50 {
        width: 50%;}


/*Media Queries*/

@media screen and (min-width: 32em) and (max-width: 64em) {
  .pas-ns {
    padding: 1rem; }
  .pam-ns {
    padding: 2rem; }
  .pal-ns {
    padding: 4rem; }
  .pax-ns {
    padding: 8rem; } }

@media screen and (min-width: 64em) {
  .pas-l {
    padding: 1rem; }
  .pam-l {
    padding: 2rem; }
  .pal-l {
    padding: 4rem; }
  .pax-l {
    padding: 8rem; } }

      
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}
